# Ignorar entorno virtual
venv/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar base de datos local
db.sqlite3

# Ignorar credenciales privadas
serviceAccountKey.json

# Ignorar variables de entorno
.env
pixsoft-bd-b5654-firebase-adminsdk-fbsvc-ae471fec16.json
api.http